.list-wrapper {
  padding: 10vh 15vw 0;
  width: 100vw;
  min-height: 95vh;
}

.tag-list {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: start;
  align-items: center;
}

.tag-item {
  background: transparent;
  border-radius: 2px;
  color: #fff;
  border: 1px solid #4b4b4b;
  margin: 0 1rem 0 0;
  padding: 0.5rem 2rem;
  transition: all 0.2s;
  cursor: pointer;
}

.tag-item:hover {
  background: #252525;
}

.selected-tag-item {
  background: #252525;
  border: none;
}

.card-list {
  width: 100%;
  display: grid;
  padding: 3rem 0;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 3rem;
  column-gap: 5rem;
  justify-items: center;
  align-items: center;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.08);
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.08);
  cursor: pointer;
  transition: all 0.2s;
}

.card:hover {
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.card-img {
  width: 10vw;
  height: 10vw;
  background: url("/assets/imgs/card-temp.png");
  background-size: 100% 100%;
  border-radius: 8px;
  border: 6px solid #3d3d3d;
  box-shadow: inset 0px 0px 3px 6px rgba(49, 49, 49, 0.6);
}

.card-desc {
  color: #737373;
  text-align: center;
  margin: 1rem 0;
  height: 4rem;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.card-tag-list {
  display: flex;
  flex-direction: row;

  .card-tag-item {
    border-radius: 2px;
    color: #fff;
    margin: 0 0.5rem;
    // padding: 0.5rem 1rem;
    min-width: 4rem;
    text-align: center;
    background: #252525;
    border: none;
  }
}

.mint-button {
  width: 12rem;
  height: 5vh;
  border: 2px solid #d3d3d3 !important;
  color: #ffffff !important;
  border-radius: 2px;
  background: transparent !important;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.2s;
  margin-top: 2rem;
}

.mint-button:hover {
  border: 2px solid #ffffff !important;
}
