.detail-wrapper {
    padding: 10vh 3rem 0;
    width: 100vw;
    min-height: 95vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 3rem;
}
.detail {
    background: #161616;
    padding: 1rem;
    border-radius: 5px;
}
.detail-img {
    width: 10vw;
    height: 10vw;
    // background: url("/assets/imgs/card-temp.png");
    background-size: 100% 100%;
    border-radius: 8px;
    border: 6px solid #3d3d3d;
    box-shadow: inset 0px 0px 3px 6px rgba(49, 49, 49, 0.6);
}
.tag-list {
    display: flex;
    flex-direction: row;
    .tag-item {
        border-radius: 2px;
        color: #fff;
        margin: 0.5rem 1rem 0.5rem 0;
        // padding: 0.5rem 1rem;
        min-width: 4rem;
        text-align: center;
        background: #252525;
        border: none;
    }
}
.desc {
    color: #737373;
    text-align: left;
    line-height: 2;
    height: 10vh;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mint-btn {
    border-radius: 2px;
    padding: 0.5rem 1rem;
    background: #ff521e;
    font-size: 1rem;
    font-weight: bold;
    color: #252525;
    transition: all 0.2s;
}
.mint-btn:hover {
    background: #ff521e;
    color: #ffffff;
}
.text-feed {
    background: url("/assets/imgs/text_feed_bg.png");
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    max-height: 30vh;
    overflow-x: hidden;
    // overflow-y: scroll;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .dot {
        position: absolute;
        border-radius: 50%;
        width: 0.5vw;
        height: 0.5vw;
        background: rgba(255, 255, 255, 0.85);
        box-shadow: 0px 0px 1px 0.2vw rgba(255, 255, 255, 0.4);
        transition: all 0.2s;
        cursor: pointer;
    }
    .dot:hover {
        background: #ff521e;
        box-shadow: 0px 0px 1px 0.2vw rgba(255, 83, 30, 0.3);
    }
}
.text-feed-item {
    display: inline-block;
    border-radius: 2px;
    color: #fff;
    margin: 0 0.5rem;
    padding: 0.1rem 0.5rem;
    min-width: 4rem;
    text-align: center;
    background: #252525;
    border: none;
    word-wrap: normal;
    margin-bottom: 1rem;
}
.dialog {
    background: #111111;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 3rem 1fr 10vh;
    row-gap: 1rem;
    width: 100%;
}
.talk-field {
    padding: 1rem 2rem;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    max-height: 70vh;
}
.input-field {
    background: #161616;
    padding: 1rem;
    height: 10vh;
    width: 100%;
    display: flex;
    input {
        border-radius: 5px;
        height: 4vh;
        flex: 1 1 auto;
        font-size: 1rem;
        background: #161616;
        appearance: none;
        outline: 0;
        border: none;
        padding: 0 1rem;
        color: rgb(222, 222, 222);
    }
    .send-btn {
        border-radius: 4px;
    }
}
:host ::ng-deep .mat-mdc-fab:not(.mdc-fab--extended) .mdc-fab__ripple,
.mat-mdc-mini-fab:not(.mdc-fab--extended) .mdc-fab__ripple {
    border-radius: 4px !important;
}
.bot-msg-wrapper {
    display: grid;
    grid-template-columns: 5rem auto;
    grid-template-rows: 1rem 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
    margin-bottom: 1rem;
}
.bot-img {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 5rem;
    height: 5rem;
    // background: url("/assets/imgs/card-temp.png") no-repeat;
    background-size: 100% 100%;
    border-radius: 8px;
    border: 6px solid rgba(61, 61, 61, 0.7);
    box-shadow: inset 0px 0px 3px 6px rgba(49, 49, 49, 0.6);
}
.bot-name {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.bot-word-bubble {
    position: relative;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    max-width: 40vw;
    margin-left: 1rem;
    background: #202020;
    padding: 1rem;
    border-radius: 5px;
    word-wrap: break-word;
    width: fit-content;
}
.bot-word-bubble::before,
.bot-word-bubble::after {
    position: absolute;
    top: 0px;
    left: -10px;
    display: block;
    font-size: 0;
    line-height: 0;
    border-color: #202020 transparent transparent;
    border-style: solid;
    border-width: 10px;
    content: "";
}
.user-msg-wrapper {
    display: grid;
    grid-template-columns: auto 5rem;
    grid-template-rows: 1rem 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
    margin-bottom: 1rem;
}
.user-img {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 5rem;
    height: 5rem;
    background: url("/assets/imgs/card-temp.png") no-repeat;
    background-size: 100% 100%;
    border-radius: 8px;
    border: 6px solid rgba(61, 61, 61, 0.7);
    box-shadow: inset 0px 0px 3px 6px rgba(49, 49, 49, 0.6);
}
.user-name {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: end;
}
.user-word-bubble {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    max-width: 40vw;
    margin-right: 1rem;
    background: #515151;
    padding: 1rem;
    border-radius: 5px;
    justify-self: end;
    word-wrap: break-word;
    width: fit-content;
}
.user-word-bubble::before,
.user-word-bubble::after {
    position: absolute;
    top: 0px;
    right: -10px;
    display: block;
    font-size: 0;
    line-height: 0;
    border-color: #515151 transparent transparent;
    border-style: solid;
    border-width: 10px;
    content: "";
}
